@use 'reset';
@use 'themes';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

// font vars
$tf-main: 'League Spartan', sans-serif;
$text-light-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);
$text-white: hsl(0, 0%, 100%);

    // UNIVERSALS 
* {
    box-sizing: border-box;
}

:root {
    font-size: 32px;
    font-family: $tf-main;

    @include theme-background(themes.$t1-main-bg, themes.$t1-toggle-bg, themes.$t1-screen-bg); 
}
