@use 'reset';

// fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

// theme vars
// TODO: Decide if using more scss modules for each theme, or just name diff vars here

// font vars
$tf-main: 'League Spartan', sans-serif;
$text-light-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);
$text-white: hsl(0, 0%, 100%);

// universals 

* {
    box-sizing: border-box;
}

:root {
    font-size: 32px;
    font-family: $tf-main;
}