@use 'themes';

// 3-Way toggle switch
input[type=radio] {
    padding: 0;
    margin: 2px;
    height: 15px;
    width: 15px;
    appearance: none;
    background-color: var(themes.$key-bg-toggle-name);
    border-radius: 50%;
    opacity: 0;

    &:hover {
        cursor: pointer;
    }
}
.tri-state-toggle {
    display: flex;
    justify-content: center;
    border: 3px solid var(themes.$toggle-bg-name);
    background-color: var(themes.$toggle-bg-name);
    border-radius: 50px;
}
#one {
    opacity: 1;
}

// Toggle button labels
.toggle-container {
    .tri-state-toggle-labels {
        display: flex;
        justify-content: space-evenly;
        margin: {
            bottom: 3px;
        }
    }

    label {
        cursor: pointer;
        font-weight: 500; 
        font-size: .3em;
    }
}
// Key buttons
button {
    border: none;
    font-family: inherit;
    font-size: .9em;
    font-weight: 700;
    background-color: var(themes.$key-bg-b-name);
    border: {
        bottom: 3px solid var(themes.$key-shadow-c-name);
    }
    color: var(themes.$text-highlights-name);
    border-radius: 4px;
    cursor: pointer;
    padding: {
        top: 12px;
        bottom: 5px;
    }

    &:hover {
        opacity: .95;
    }
    &:active {
        box-shadow: inset 0px 0px 0px 1px var(themes.$screen-bg-name);
        border: none;
    }
    &:focus-visible {
        outline: 2px solid var(themes.$text-dark-name);
    }
}

// Hack to correct color on first theme in top and screen locations
html[data-theme=theme-one] {
    .calculator {
        &__title-container {
            color: var(themes.$text-dark-name);
        }

        &__screen {
            color: var(themes.$text-dark-name);
        }
    }
}

// Special buttons
.operator {
    font-size: .8em;
}
.all-clear {
    background-color: var(themes.$key-bg-toggle-name);
    border-color: var(themes.$key-shadow-b-name);
    color: var(themes.$text-dark-name);
}
.equal-sign {
    background-color: var(themes.$key-bg-a-name);
    border-color: var(themes.$key-shadow-a-name);
    color:  themes.$t3-extra-white-text;
}
.delete {
    font-size: .5em;
    padding: {
        top: 8px;
    }
    background-color: var(themes.$key-bg-a-name);
    border-color: var(themes.$key-shadow-a-name);
    color: themes.$t3-extra-white-text;
}
.all-clear,
.equal-sign {
    font-size: .60em;
}

// General attributes for calculator
.calculator {
    background-color: var(themes.$main-bg-name);

    &__title-container {
        color: var(themes.$text-highlights-name);
        height: 56px;
    }

    &__theme-title {
        font-size: .3em;
        font-weight: 500;
        letter-spacing: .15em;
        align-self: flex-end;
        margin: {
            bottom: 15px;
        }
    }

    &__keys {
        background-color: var(themes.$toggle-bg-name);
        border-radius: 9px;
    }

    &__screen {
        font-size: 1.2em;
        font-weight: 700;
        background-color: var(themes.$screen-bg-name);
        color: var(themes.$text-highlights-name);
        border: none;
        border-radius: 5px;
        cursor: not-allowed;

        &:focus-visible {
            outline: 2px solid var(themes.$text-dark-name);
        }
    }
}

