@use 'themes';

// TODO: border: none on all buttons then add border bottom to create bottom border

button {
    border: none;
    font-family: inherit;
    font-size: .9em;
    background-color: var(themes.$key-bg-b-name);
    color: var(themes.$text-highlights-name);
    border-radius: 4px;
    cursor: pointer;
    padding: {
        top: 12px;
        bottom: 5px;
    }

    &:hover {
        // background-color: #eaeaea;
    }
}

.operator {
    font-size: .8em;
}

.all-clear {
    background-color: var(themes.$key-bg-toggle-name);
    border-color: var(themes.$key-shadow-b-name);
    color: var(themes.$text-dark-name);

    &:hover {
        // background-color: #f17377;
    }
}

.equal-sign {
    background-color: var(themes.$key-bg-a-name);
    border-color: var(themes.$key-shadow-a-name);
    color: var(themes.$text-dark-name);

    &:hover {
        // background-color: #4e9ed4;
    }
}

.delete {
    background-color: var(themes.$key-bg-a-name);
    border-color: var(themes.$key-shadow-a-name);
    color: var(themes.$key-bg-b-name);
}

.all-clear,
.delete,
.equal-sign {
    font-size: .60em;
}

.calculator {
    background-color: var(themes.$main-bg-name);

    &__keys {
        background-color: var(themes.$toggle-bg-name);
        border-radius: 9px;
    }

    &__screen {
        font-size: 1.2em;
        background-color: var(themes.$screen-bg-name);
        color: var(themes.$text-dark-name);
        border: none;
        border-radius: 5px;
    }
}